# Step2: creating the content of home.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Refresh" content="3; URL=http://localhost:5000/" />

    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>

    <br />

    <form action="/predict" method="post">
      Country:
      <input type="text" name="country" value="india" />
      <br />
      Year:
      <input type="text" name="year" value="2019" />
      <br />
      Region:
      <input type="text" name="region" value="Africa" />
      <br />
      Number of participants:
      <input type="text" name="participants" value="" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
